/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the custom font using @font-face */
@font-face {
    font-family: 'Sohne';
    src: url('/fonts/TestSohneBreit-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Apply the custom font to all heading tags */
h1,
h2,
h3,
h4 ,
a,
button,
label{
    @apply font-sohne;
}

h5,
p,
span {
    @apply font-satoshi;
}


  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    height: 100%;

}